<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keyue.dao.UserReadHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.keyue.dao.model.UserReadHistory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="book_no" property="bookNo" jdbcType="VARCHAR" />
    <result column="chapter_no" property="chapterNo" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="last_read_time" property="lastReadTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />

    <result column="book_name" property="bookName" jdbcType="VARCHAR" />
    <result column="chapter_name" property="chapterName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, book_no, chapter_no, is_del, last_read_time, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user_read_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_read_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.keyue.dao.model.UserReadHistory" >
    insert into user_read_history (id, user_id, book_no,
      chapter_no, is_del, last_read_time,
      create_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{bookNo,jdbcType=VARCHAR},
      #{chapterNo,jdbcType=VARCHAR}, #{isDel,jdbcType=CHAR}, #{lastReadTime,jdbcType=TIMESTAMP},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.keyue.dao.model.UserReadHistory" >
    insert into user_read_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="bookNo != null" >
        book_no,
      </if>
      <if test="chapterNo != null" >
        chapter_no,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="lastReadTime != null" >
        last_read_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="bookNo != null" >
        #{bookNo,jdbcType=VARCHAR},
      </if>
      <if test="chapterNo != null" >
        #{chapterNo,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=CHAR},
      </if>
      <if test="lastReadTime != null" >
        #{lastReadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.keyue.dao.model.UserReadHistory" >
    update user_read_history
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="bookNo != null" >
        book_no = #{bookNo,jdbcType=VARCHAR},
      </if>
      <if test="chapterNo != null" >
        chapter_no = #{chapterNo,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="lastReadTime != null" >
        last_read_time = #{lastReadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.keyue.dao.model.UserReadHistory" >
    update user_read_history
    set user_id = #{userId,jdbcType=INTEGER},
      book_no = #{bookNo,jdbcType=VARCHAR},
      chapter_no = #{chapterNo,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=CHAR},
      last_read_time = #{lastReadTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="deleteByRecord" parameterType="com.keyue.dao.model.UserReadHistory" >
    update user_read_history
    set is_del = '1'
    <where >
      is_del = '0'
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="bookNo != null" >
        and book_no = #{bookNo,jdbcType=VARCHAR}
      </if>
    </where>
  </update>

  <select id="selectList" resultMap="BaseResultMap" parameterType="com.keyue.dao.model.Book" >
    select *
    from v_user_read_history
    <where >
      is_del = '0'
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
    </where>
    order by last_read_time DESC
  </select>
</mapper>