*{  margin: 0;  padding: 0;  font-family: "Microsoft YaHei"}
ul{margin: 0;padding: 0;list-style: none;}
li{list-style-type: none;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
/*“更多”链接*/
a.more{  text-decoration: none;  padding: 0 3px;  border-radius: 4px;  color: #5e5e5e;
    font-size: 10px;float: right;line-height: 21px;  }
a.more:hover{  color: #ffffff;  background-color: #2e9ad0;}
/*清除浮动*/
.clearfix:after {
    content: '';
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
}

/*书名和作者*/
.bookname{color: #000000; margin-right: 6px;}
.author{color: #00BFA5;}
/*顶部样式*/
.top-bar{height: 44px;background-color: #000;color: #f5f5f5;padding: 0 10px;}
.logo{height:44px;line-height: 44px;font-size: 18px;}
a.logo{color: #f5f5f5;}
a.logo:active,a.logo:visited{text-decoration: none;}
.top-bar>.r{float: right;}
.top-bar .top_icon{height:44px;line-height: 44px;padding: 0 10px;}
/*底部样式*/
.bottom-b{background-color: #f1f1f1;padding: 20px 10px;text-align: center;font-size: 14px;box-shadow: 0 0 1px rgba(0,0,0,.3);}
.bottom-nav{margin-bottom: 15px;}
.bottom-nav>a{padding: 0 16px;color: #000;border-left: 1px solid #ddd;}
.bottom-nav>a:first-child{border-left: 0px solid #ddd;}
.bottom-right{margin-bottom: 15px;}