<!DOCTYPE html>

<html>
<head>
    <title>页阅</title>
    <meta name="keywords"
          content="liulangcat,页阅,在线阅读,公共版权书籍">
    <meta name="description"
          content="页阅是一个在线阅读网站。包含现当代文学,散文随笔,外国文学,短篇小说,古代文学等">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link href="static/libs/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="static/css/base.css?v=2" rel="stylesheet">
    <link href="static/css/content_left.css" rel="stylesheet">
    <link href="static/css/page/index.css?v=5" rel="stylesheet">
    <script src="http://liulangcat.com/js/jquery.min.js"></script>
</head>
<body>
<div class="top-bar">
    <a class="logo" href="/">页阅</a>
    <div class="r">
        <i class="fa fa-refresh top_icon" onclick="location.href='suiji.php?time=<?=time() ?>';"></i>
        <i class="fa fa-search top_icon" onclick="location.href='search.html';"></i>
        <!--<i class="fa fa-user-o top_icon" onclick="location.href='/user/center.php';"></i>-->
    </div>
</div>
</body>
</html>