<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:inline="text">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="libs/jquery-3.2.1.min.js"></script>
    <script src="js/selectionListener.js"></script>
	<title>[[${book.bookName}]] [[${currentChapter.chapterName}]]</title>
    <link href="/css/page/reader.css" rel="stylesheet">
</head>
<body>
	<div class="main_block">
        <div class="item_content">
            <div class="item_top">
                <p>
                    <span class="top_categoryname" th:text="${book.bookName}"></span>
					<span class="top_right_a"><a href="javascript:;" onclick="goHome()">主页</a></span>
                </p>

				<p>
                    <span class="top_categoryname" th:text="${currentChapter.chapterName}"></span>
					<span class="top_right_a"><a th:href="@{${book.bookFilePath}}">目录</a></span>
                </p>

            </div>

			<div style="margin-top:0.5em">

				<div style='line-height:1.5em;text-align:justify;text-justify:distribute;' th:utext="${content}">
				</div>
			</div>
        </div>

		<p style="height: 21px;">
            <span class="bottom_left_a" th:if="${preChapter != null}"><a th:href="@{'/reader.html?bookNo=' + ${book.bookNo} + '&chaptherNum=' + ${preChapter.chapterNo}}">上一章</a></span>
			<span class="top_right_a" th:if="${nextChapter != null}"><a th:href="@{'/reader.html?bookNo=' + ${book.bookNo} + '&chaptherNum=' + ${nextChapter.chapterNo}}">下一章</a></span>
			<span class="top_right_a" th:if="${nextChapter == null}">完</span>
        </p>
    </div>
    <div>
        <input type="hidden" id="bookNo" th:value="${book.bookNo}">
        <input type="hidden" id="chapterNo" th:value="${currentChapter.chapterNo}">
    </div>
	<div id="goods_block">

	</div>
<!-- 流量统计 -->
<div style="display:none">
    <script type="text/javascript">
        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1256702543'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256702543' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>

</body>
<script>
	function goHome(){
		document.location.href="/index.html";
	}
	$(function(){
        var bookNo = $("#bookNo").val();
        var chapterNo = $("#chapterNo").val();

        var read_pos_top = localStorage.getItem("read_pos_top_" + bookNo + "_" + chapterNo);
        if(read_pos_top != null) {
            $(window).scrollTop(read_pos_top);
        }

        $(".main_block").on('click','.marker',function(){
            $(this).removeClass('marker');
            $(this).addClass('marker_show');
            $(this).html($(this).data('v'));
        });
        $(".main_block").on('click','.marker_show',function(){
            $(this).removeClass('marker_show');
            $(this).addClass('marker');
            $(this).html('注');
        });
        // 上报阅读时长
        var noRecordDuration = 0; // 未上报的阅读时长（秒）
        var noScrollDuration = 0; // 屏幕未滚动的时长（秒）
        var isReading = true; // 是否阅读中

        // 5s执行一次
        setInterval(function(){
            noScrollDuration = noScrollDuration + 5;
            if(noScrollDuration > 60) {
                isReading = false;
            }
            if(isReading) {
                noRecordDuration = noRecordDuration + 5;
            }
            if(noRecordDuration >= 30){
                var data = {"bookNo":bookNo, "chapterNo":chapterNo, "duration": noRecordDuration};
                $.ajax({
                    url :"/user/saveVisitTimeLog",
                    type : "POST",
                    data : data,
                    dataType : "json",
                    success : function(result) {
                        if(result.code == 0) {
                            noRecordDuration = 0;
                        }
                    }
                });
            }
        }, 5000);

        $(window).scroll(function() {
            isReading = true;
            noScrollDuration = 0;

            lastScrollTime = (new Date()).getTime();
            localStorage.setItem("read_pos_top_" + bookNo + "_" + chapterNo, $(window).scrollTop());
        });
	});
</script>

<script th:inline="javascript">
    $("p").mouseup(function(){
        var selObj = window.getSelection();

        if(selObj == null || selObj.toString() == ""){
            return;
        }
        var pid = selObj.anchorNode.parentNode.getAttribute("id");
        var postData = {
            "bookNo":/*[[${book.bookNo}]]*/0,
            "chapterNum":/*[[${currentChapter.chapterNo}]]*/1,
            "paragraphNum": parseInt(pid),
            "comment":"comment",
            "anchorPos":selObj.anchorOffset,
            "focusPos":selObj.focusOffset,
            "selectionText":selObj.toString()
        }

        $.post("/marker/commitMarker",postData);

        // alert('mouseup function is running !');
    });
</script>

</html>