body{background-color: #efefef;}

/* 顶部导航 */
.center-top-bar{height: 10vw;padding: 4px 10px;background: #69B0AC;position: relative;z-index: 20;}
.top-btn-group{background-color: rgba(255,255,255,0.2);height: 10vw;line-height: 10vw;border-radius: 4px;}
.top-btn-group i{font-size: 1.2em;color: #fff;margin: 0 10px;}
.top-btn-group i.icon-more_android_light{float: right;}

/* 顶部的more菜单 */
#more_nav{position: fixed;right: 10px;background-color: #555;border-radius: 4px;padding: 6px 0;z-index: 30;}
.triangle{
    width: 0;
    height: 0;
    border: 10px solid #555;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.arrows{position: absolute;top: -8px;right: 10px;}
#nav_list>li{line-height: 36px;color: #fff;}
#nav_list>li>i{float: left;margin: 0 10px 0 12px;}
#nav_list>li>div{font-size: .8em;margin-left: 38px;padding-right: 20px;border-bottom: 1px solid rgba(255,255,255,0.1);}
#nav_list>li:last-child>div{border-bottom: 0;}

/* 遮罩层 */
.mask_block{position: fixed;background-color: transparent;left: 0;right: 0;top: 0;bottom: 0;z-index: 10;}

#base_info{padding: 10px 20px;background-color: #fff;margin-bottom: 1px;height: 60px;}
.head-img{float: left;}
.head-img>img{border-radius: 2px;width: 60px;height: 60px;}
.user-info{float: left;margin: 0 10px;padding: 6px 0;}
#username{line-height: 28px;}
#qt_info{line-height: 20px;font-size: 0.8em;color: #999;}
.go_login{float: left;margin: 0 10px;padding: 6px 0;}
#login_btn{line-height: 28px;color: #1A73E8;}
#login_btn:link,#login_btn:visited{text-decoration:none;}

/* 颜值表 */
#rect_block{width: 100%;overflow: scroll;direction: rtl}
#rect_list{background: #fff;padding: 2px 0;}
.rect{width: calc(5vw - 6px);height: calc(5vw - 6px);
    background: #f6f6f6;float: left;margin: 2px;border-radius: 2px;border: 1px solid #f6f6f6;}
.empty{background: #fff;border: 1px dashed #f6f6f6;}
.rank1{background: #9be9a8;border: 1px solid #9be9a8;}
.rank2{background: #40c463;border: 1px solid #40c463;}
.rank3{background: #30a14e;border: 1px solid #30a14e;}
.rank4{background: #216e39;border: 1px solid #216e39;}

a:hover {
    text-decoration: none;
}