body{margin: 0;}
.top-bar {
    background: #fff;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #eee;
    padding: 0 18px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}

.back{
    float: left;
    line-height: 45px;
    font-size: 28px;
}

.avatar{
    border-radius: 2px;width: 60px;height: 60px;vertical-align:middle;
}

.weui-cells{margin-top: 0;}
.weui-cells:before{display: none;}
.avatar-cell{padding-top: 8px; padding-bottom: 8px;}